Source: huayra-desktop-santa-cruz
Section: x11
Priority: optional
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends:  debhelper (>= 10)
Standards-Version: 4.3.0
Homepage: https://huayra.educar.gob.ar

Package: huayra-desktop-santa-cruz
Architecture: all
Depends: ${misc:Depends},
  huayra-backgrounds-santa-cruz,
  huayra-grub-themes-crux (>= 1.20),
  huayra-desktop-mate-settings (>= 5.0)
Description: Opciones de configuración para escritorio Santa Cruz
 Este paquete contiene las opciones para personalizar el desktop 
 para el proyecto de Santa Cruz.

